client_config_backend: file
output_folder_id: <output_folder_id> # Google Driveの出力先フォルダID
target_folder_path: <audio/radio/> # Google Drive内の基本的な保存先パス
client_config_file: <client_secrets_json_path> # client_secrets.jsonへのパスを指定
save_credentials: True
save_credentials_backend: file
save_credentials_file: credentials.json
get_refresh_token: True
oauth_scope:
  - https://www.googleapis.com/auth/drive
